# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

*.dbmdl
SqlDatabase/obj/Debug/SqlDatabase.sqlproj.FileListAbsolute.txt
*.pdb
*.dll
*.dll
*.pdb
learnyesensmarter.Tests/obj/Debug/learnyesensmarter.Tests.csproj.FileListAbsolute.txt
*.cache
*.mdf
learnyesensmarter/App_Data/SQLDatabase_log.ldf
*.dll