
$mainColour: #FFFFFF;
$secondaryColour: #A5FAA5;
$borderColour: #00FF00;
$mainTextColour: #454545;

body
{
	background-color: $mainColour;
	color: $mainTextColour;
}

a {
	color: $secondaryColour;
	text-decoration: none;
}

$titleFontSize: 2rem;

.site-title
{
	background-color: $mainColour;
	color: $secondaryColour;
	text-align: center;
	font-size: $titleFontSize;
	border-bottom: $borderColour 10px;
}

$padding: 0.25em;
$buttonFontSize: 4vw;
$borderColour: ( $secondaryColour * 1.25 );
.menu-item { border-bottom: 1rem solid $borderColour; }
.menu-item, .menu-item a
{
	text-align: center;
	font-size: $buttonFontSize;
	color: $mainTextColour;
	padding: $padding;
}

$alphaMask: 3.5;
div .menu-item:hover
{
	background-color: $mainTextColour * $alphaMask;
	cursor: pointer;
}

#login {
	list-style-type: none !important;
}

.main-content {
	color: $mainTextColour;
}

.main-content a {
	color: $mainTextColour;
	cursor: pointer;
}

.main-content a:hover {
	color: $secondaryColour;
}



footer {
	text-align: right;
}