@{
    ViewBag.Title = "LabeltheDiagram";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Label The Diagram</h2>
<section id="diagram_upload">
    <p>Select the image you would like to upload and use as the diagram.</p>
    <p>1. Insert users picture locally
       2. Use Javascript to develop a tool allowing them to associate textboxes with points on the picture
       3. Uploade Picture to server (sql) and store points along with answers in neo
    </p>
</section>
