@model learnyesensmarter.Models.AuthorTaskModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Author Tasks</h2>

<section id="about_select_task_type">
    Select which kind of task you would like to author:
</section>
<section id="select_task_type">
    @foreach (var question_type in Model.TypesOfQuestions)
    {
        @Html.ActionLink(question_type.DisplayName, "NewTask", new { question = Json.Encode(question_type) });
    }
</section>